<!DOCTYPE html>
<html lang="en">
    <head>
        <title>DB Info</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Database Tables</h1>
        <ul>
            <% tables.forEach(function(r) { %>

            <li><%= r.table %>: <%= r.column %> (<%= r.type %>)</li>
            <% }); %>
        </ul>
        <h1>Observations</h1>
        <ul>
            <% obs.forEach(function(r) { %>
            <li>Student <%= r.students_id %> was working on <%= r.tasks_id %> for <%= r.duration.minutes || "00" %>:<%= r.duration.seconds || "00" %></li>
            <% }); %>
        </ul>

        <h1>Students</h1>
        <ul>
            <% stu.forEach(function(r) { %>
            <li>Student ID: <%= r.id %> Name: <%= r.name %> School: <%= r.school %> Graduates:<%= r.expires %></li>
            <% }); %>
        </ul>
        
    </body>
</html>